
Windower4/addons/ruptchat/chatlogs/*.*
Windower4/addons/organizer/data/*.*
Windower4/addons/autows/data/*.*
Windower4/plugins/settings/ffxidb.xml
Windower4/addons/findAll/data/*.*
EasyFarm/Release/logs/*.*
Windower4/addons/Gearswap/data/export/*.*
Windower4/addons/autows/data/settings.lua
Windower4/addons/findAll/data/Khory.lua
Windower4/addons/organizer/data/organizer-debug.log
Windower4/addons/parse/data/export/dynamis.xml
