
Windower4/addons/ruptchat/chatlogs/Khory-current.lua
Windower4/addons/organizer/data/organizer-debug.log
Windower4/addons/findAll/data/Khory.lua
EasyFarm/EasyFarm/
Windower4/addons/autows/data/settings.lua
Windower4/addons/organizer/data/organizer-debug.log
Windower4/plugins/settings/ffxidb.xml
Windower4/addons/autows/data/settings.lua
Windower4/addons/findAll/data/Khory.lua
Windower4/addons/ruptchat/chatlogs/Khory-current.lua
Windower4/addons/autows/data/settings.lua
Windower4/addons/findAll/data/Khory.lua
Windower4/addons/ruptchat/chatlogs/Khory-current.lua
EasyFarm/Release/logs/*.*
Windower4/addons/findAll/data/Khory.lua
