
Windower4/addons/ruptchat/chatlogs/*.*
Windower4/addons/organizer/data/*.*
Windower4/addons/autows/data/*.*
Windower4/plugins/settings/ffxidb.xml
Windower4/addons/findAll/data/*.*
EasyFarm/Release/logs/*.*
Windower4/addons/Gearswap/data/export/*.*
Windower4/addons/autows/data/settings.lua
Windower4/addons/findAll/data/Khory.lua
Windower4/addons/organizer/data/organizer-debug.log
Windower4/addons/parse/data/export/dynamis.xml
EasyFarm/Release/logs/log.txt
Windower4/addons/findAll/data/Khory.lua
Windower4/addons/organizer/data/organizer-debug.log
EasyFarm/Release/logs/log.txt
Windower4/addons/autows/data/settings.lua
Windower4/addons/findAll/data/Khory.lua
Windower4/addons/GearInfo/data/Khory_data.lua
Windower4/logs/Khory_2021.05.19.log
Windower4/addons/organizer/data/organizer-debug.log
Windower4/addons/organizer/data/organizer-debug.log
Windower4/addons/findAll/data/Khory.lua
Windower4/addons/findAll/data/Khory.lua
*.log
